* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  padding: auto;
  font-family: sans-serif;
  background: #222;
  color: #ddd;
  text-align: center;
}

.App {
  max-width: 1200px;
  margin: 5px auto;
}

h1 {
  color: #ffff57;
  font-size: 4em;
  letter-spacing: 2px;
  text-align: center;
}
span {
  padding: 10px;
  color: #fff500;
  text-align: center;
}

button {
  margin: 0 10px;
  background: transparent;
  border: 3px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  color: #ccc;
  font-size: 1.2em;
  cursor: pointer;
}

button:hover {
  color: #aaa;
  border-color: rgb(209, 27, 27); 
}

.content {
  text-align: left;
}

.container {
  display: grid;
  background-color: #1f1e1b;
  padding: 10px;
  margin: 10px;
  text-justify: center;
}

.dos{
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 400px repeat(2, 400px);
  grid-template-rows: repeat(2, 250px );
}


.card {
  padding: 18px;
  background: #1b1b1b;
  margin: 16px 10px;
  border-radius: 20px;
  
}

.card p {
  padding: 20px; 
  margin: 6px 0;
  color: #999;
}

.card h3 {
  margin: 10px 0;
  color: #fff500;

}

button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

@media  (max-width: 600px) {
  /* For mobile phones: */
  .grid { grid-template-columns: repeat(1, 1fr); }

}

@media (min-width: 600px) {
  .grid { grid-template-columns: repeat(2, 1fr); }
}


@media (min-width: 900px) {
  .grid { grid-template-columns: repeat(3, 1fr); }
}







